body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
}

.signup-container {
    background-color: #454545;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    margin-left: center;
    margin-right: center;
}

.input-group label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #454545;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: yellowgreen;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: greenyellow;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}